<?xml version="1.0"?>
<launch>

  <node pkg="rt_road_detection" name="wp_corrector" type="wp_corrector_node" output="screen" respawn="true">
   <param name="map_frame" value="/odom"/> 
   <param name="robot_frame" value="/base_link"/>
   <param name="map_topic" value="/move_base/local_costmap/costmap"/>

   <!-- obstacle bloat specifies the smallest distance of the new waypoint to obstacle -->
   <param name="obstacle_bloat" value="1.0"/>
   <!-- algorithm type specifies what approach to use when WP is placed on obstacle -->
   <!-- type 1 - searches for a valid WP on a line connectin robot and old WP -->
   <!-- type 2 - searches for a valid WP on a line perpendicular to line joining robot and WP going through WP -->
   <param name="algorithm_type" value="1"/>
  </node>

</launch>
