<?xml version="1.0"?>
<launch>
  <arg name="calibration" default="" />
  <node pkg="but_velodyne" type="ground_map" name="but_velodyne_groundmap_node" output="screen">
    <remap from="points_in" to="/velodyne_points" />
    <remap from="map2d_out" to="/velodyne/map2d" />
    <!--param name="frame_id" value="/velodyne" /-->
  </node>
</launch>
