<?xml version="1.0"?>
<launch>

  <arg name="manager_name" default="cam3d_nodelet_manager"/>

  <!-- FOR TESTING ONLY !!! -->

  <include file="$(find rt_road_detection)/launch/test_asphalt_lbp_gh_det_node.launch">
    <arg name="manager_name" value="$(arg manager_name)"/>
  </include>
  
  <include file="$(find rt_road_detection)/launch/test_hsv_hist_det_node.launch">
    <arg name="manager_name" value="$(arg manager_name)"/>
  </include>
  
  <node pkg="nodelet" type="nodelet" name="CostmapNodelet" args="load rt_road_detection/CostmapNodelet /$(arg manager_name)" output="screen">
    <rosparam file="$(find rt_road_detection)/config/det2costmap.yaml" command="load" />
  </node>

</launch>
