<?xml version="1.0"?>
<launch>
    <arg name="rgb_points_in" default="/velodyne_points" />

    <!-- Run our dynamic scene model server node -->
    <node name="but_env_model_node" pkg="but_env_model" type="but_env_model_node">
        <rosparam file="$(find but_env_model)/config/envmodel_velodyne.yaml" command="load"/>
        <remap from="points_in" to="$(arg rgb_points_in)" />
    </node>

</launch>
