<?xml version="1.0"?>
<launch>
    <!-- Don't forget to run the Kinect throttling nodelet somewhere -->
    <!-- include file="$(find but_env_model_utils)/launch/kinect_throttling.launch" /-->

    <arg name="rgb_points_in" default="/cam3d_throttled/depth_registered/points" />
    <arg name="camera_info_in" default="/cam3d_throttled/rgb/camera_info" />

    <!-- Run our dynamic scene model server node -->
    <node name="but_env_model_node" pkg="but_env_model" type="but_env_model_node">
        <rosparam file="$(find but_env_model)/config/envmodel_defaults.yaml" command="load"/>
        <remap from="camera_info" to="$(arg camera_info_in)" />
        <remap from="points_in" to="$(arg rgb_points_in)" />
        <remap from="points_filter" to="$(arg rgb_points_in)" />
        <remap from="rviz_camera_position" to="/rviz_camera_position" />
    </node>

</launch>
