<?xml version="1.0"?>
<launch>
    <arg name="run_nodelet_version" default="0" />
    <arg name="manager_name" default="velodyne_nodelet_manager" />
    <arg name="rgb_points_in" default="/velodyne_points" />

    <group unless="$(arg run_nodelet_version)">   
        <!-- Run our dynamic scene model server node -->
        <node name="but_env_model_node" pkg="but_env_model" type="but_env_model_node">
            <rosparam file="$(find but_env_model)/config/envmodel_velodyne.yaml" command="load"/>
            <remap from="points_in" to="$(arg rgb_points_in)" />
        </node>
    </group>

    <group if="$(arg run_nodelet_version)">
        <!-- Run our dynamic scene model server nodelet -->
        <node pkg="nodelet" type="nodelet" name="but_env_model_nodelet" args="load but_env_model/EnvModelNodelet $(arg manager_name)" output="screen">
            <rosparam file="$(find but_env_model)/config/envmodel_velodyne.yaml" command="load" />
            <remap from="points_in" to="$(arg rgb_points_in)" />
        </node>
    </group>

</launch>
