<?xml version="1.0"?>
<launch>
    <!-- Set to use simulation time -->
    <param name="/use_sim_time" value="true"/>

    <!-- Kinect throttling -->
    <!--include file="$(find but_env_model_utils)/launch/kinect_throttling.launch">
        <arg name="max_rate" value="3.0" />
    </include-->

    <!-- Run our dynamic scene model server node -->
    <include file="$(find but_env_model)/launch/but_envmodel_common.launch">
        <arg name="rgb_points_in" value="/cam3d/rgb/points_throttled" />
        <arg name="camera_info_in" value="/cam3d/rgb/camera_info_throttled" />
    </include>

    <!-- Run our GUI nodes -->
    <include file="$(find but_interaction_primitives)/launch/interaction_primitives.launch" />

    <!-- Run rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find but_env_model)/config/envmodel_common.rviz" />

</launch>
