<?xml version="1.0"?>
<launch>

  <group ns="detectors">
  
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="SampleGrassDetectorNodelet" args="load rt_road_detection/SampleGrassDetectorNodelet standalone_nodelet" output="screen">
      <remap from="rgb_in" to="/stereo/left/image_color"/>
      <remap from="det_out" to="/detectors/not_road/sample_grass"/>
    </node>   
  
  </group>   
             
</launch>
