<?xml version="1.0"?>
<launch>

  <!-- FOR TESTING ONLY !!! -->

  <include file="$(find rt_road_detection)/launch/test_grass_det_nodelet.launch"/>
  <include file="$(find rt_road_detection)/launch/test_asphalt_det_nodelet.launch"/>
  
  <!-- convert costmap also to node/nodelet versions! -->
  <node pkg="rt_road_detection" name="det2costmap" type="costmap_node" output="screen">
    
    <param name="map_frame" value="odom"/>
    <param name="map_res" value="0.05"/>
    
    <!-- there will be list of topics in YAML file -->
    <!--remap from="not_road_in" to="/detectors/not_road/sample_grass"/>
    <remap from="road_in" to="/detectors/road/sample_asphalt"/-->
  </node>

</launch>
